<div class="flex h-full w-full">
  <div class="flex justify-center items-center h-full w-full">
    <mat-card class="h-fit w-[80%] rounded-full">
      <mat-card-header class="flex justify-center mb-4">
        <mat-card-title>SISTEMA DE TELEMETRIA DO POENTE</mat-card-title>
      </mat-card-header>
      <hr />
      <mat-card-content class="p-6 mt-4 text-justify">
        Bem vindo ao sistema de telemetria do poente. Aqui você encontrará dados
        dos sensores do barco em tempo real, incluindo sua localização no mapa.
      </mat-card-content>
      <mat-card-footer class="py-4 flex flex-col items-center">
        <span class="font-semibold"
          >Clique no botão abaixo para entrar com sua conta do google</span
        >
        <span class="font-semibold">(acesso restrito)</span>
        <div id="firebaseui-auth-container"></div>
      </mat-card-footer>
    </mat-card>
  </div>
  <div
    class="h-full w-full bg-[#050758] flex flex-col items-center justify-center"
  >
    <img
      src="https://storage.googleapis.com/production-hostgator-brasil-v1-0-0/550/364550/v9bPQxy0/cfcafd65777e43dcacfbf8df13381dba"
      width="80%"
      height="50%"
      alt=""
    />
  </div>
</div>
