<div class="px-16 py-12">
  <div class="flex flex-col space-y-3">
    <div class="grid grid-cols-3">
      <span class="flex col-start-2 col-end-2 justify-center">
        <span class="text-5xl font-semibold">Telemetria Poente</span>
      </span>
      <span class="justify-self-end" style="align-self: center">
        <button
          class="px-6 py-1 rounded-full bg-red-500 text-white"
          (click)="sair()"
        >
          Sair
        </button>
      </span>
    </div>
    <hr />
    <div style="margin-top: 30px" class="flex justify-center space-x-6">
      <div class="grid grid-cols-2 gap-2 h-fit">
        <mat-slide-toggle
          [checked]="data?.estadoStringSolar1 === '1' ? true : false"
          >Estado String Solar 1</mat-slide-toggle
        >
        <mat-slide-toggle
          [checked]="data?.estadoStringSolar2 === '1' ? true : false"
          >Estado String Solar 2</mat-slide-toggle
        >
        <mat-card class="h-fit">
          <mat-card-header>
            <mat-card-title>Temperatura</mat-card-title>
          </mat-card-header>
          <mat-card-content> {{ data?.temperatura }} ºC </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Umidade</mat-card-title>
          </mat-card-header>
          <mat-card-content> {{ data?.umidade }} g/m³ </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Tensão Alimentação PCB</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{ data?.tensaoAlimentacaoPCB }} V
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Tensão Entrada MPPT</mat-card-title>
          </mat-card-header>
          <mat-card-content> {{ data?.tensaoEntradaMPPT }} V </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Tensão Saída MPPT</mat-card-title>
          </mat-card-header>
          <mat-card-content> {{ data?.tensaoSaidaMPPT }} V </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Corrente MPPT</mat-card-title>
          </mat-card-header>
          <mat-card-content> {{ data?.correnteMPPT }} A </mat-card-content>
        </mat-card>
      </div>
      <div class="flex flex-col space-y-6 w-[1200px]">
        <div id="map" class="h-[400px] w-full"></div>
        <div class="flex space-x-2 w-full">
          <div class="w-[33%]">
            <canvas
              #graficoCorrenteMotor
              style="height: 300px; width: 100%"
            ></canvas>
          </div>
          <div class="w-[33%]">
            <canvas
              #graficoVelocidadeBarco
              style="height: 300px; width: 100%"
            ></canvas>
          </div>
          <div class="w-[33%]">
            <canvas
              #graficoCorrenteBateria
              style="height: 300px; width: 100%"
            ></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
